/* Customize your main colors in :root variables */
:root {
  --main-background-color: #343A50;
  --card-background-color: #00000000;
  --countdown-background-color: #433765;
  --main-text-color:#d3c2c2;
  --title-text-color:#d73535;
}

body{
/*  background-color:var(--main-background-color);*/
  background: url("img/ky.jpg");
  background-size: cover;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.1em;
}

h2, p{
  color: var(--main-text-color);
}

h3{
font-weight: normal;
}



